@model IEnumerable<RoadViewModel>

@{
    ViewData["Title"] = "All Roads";
}

    @foreach (var item in Model)
    {

        <div class="container-image">
            <a asp-area="Roads" asp-controller="Home" asp-action="Road" asp-route-id="@item.Id">
                <img class="img-fluid rounded" src="@item.CoverPhoto" />
            </a>
            <div class="bottom-right">@item.RoadName</div>
            <div class="bottom-left-info"> Добавено на: @item.PostedOn от @item.PostedBy.</div>
        </div>

    }
