@model ProductDetailsViewModel

<div class="product-details-content justify-content-center rounded">
    <div class="row justify-content-center">
        <p class="product-price-d">@Model.Name</p>
    </div>
    <div class="row justify-content-center">
        <img class="rounded" src="@Model.Image.ImageUrl" width="200" height="200" />
        <div class="col-4">
            <p class="product-price-d"><b>@Model.Price</b> Leva</p>
        </div>
    </div>
    <br />
    <div class="justify-content-center row">
        <p style="font-size: 1.5rem;">About the product:</p>

    </div>
    <div class="row justify-content-center product-details-description">
        <p>@Model.Description</p>
    </div>
    <br />
    <div class="row justify-content-center">
        <button type="button" class="btn btn-dark" asp-area="Shop" asp-controller="Orders" asp-action="AddToCart" asp-route-id="@Model.Id">Add to cart</button>
    </div>

    @if (User.IsInRole("Admin"))
    {
        <br />
        <div class="row justify-content-center">
            <p>Available count: @Model.Count</p>
            <br />

        </div>
        <div class="row justify-content-center">
            <button data-toggle="collapse" data-target="#addMore" class="btn btn-info">Add more</button>
        </div>
        <br />
        <div id="addMore" class="collapse justify-content-center row">
            <form asp-area="Administration" asp-controller="Products" asp-action="AddMoreProducts">
                <input hidden="" asp-for="Id" value="@Model.Id"/>
                <label asp-for="Count"></label>
                <input asp-for="Count"/>

                <button type="submit" class="btn btn-dark">Add</button>
            </form>
        </div>
    }

</div>