@model ProductDetailsViewModel

<div class="product-details-content justify-content-center rounded">
    <div class="row justify-content-center">
        <p class="product-price-d">@Model.Name</p>
    </div>
    <div class="row justify-content-center">
        <img class="rounded" src="@Model.Image.ImageUrl" width="200" height="200" />
        <div class="col-5">
            <p class="product-price-d"><b>@Model.Price</b> лв.</p>
        </div>
    </div>
    <br />
    <div class="justify-content-center row">
        <p style="font-size: 1.5rem;">За продукта:</p>

    </div>
    <div class="row justify-content-center product-details-description">
        <p>@Model.Description</p>
    </div>
    <br />
    <div class="row justify-content-center">
        <button type="button" class="btn btn-dark" asp-area="Shop" asp-controller="Cart" asp-action="AddProduct" asp-route-id="@Model.Id">Добави в количката</button>
    </div>
    
</div>