@model RideOnBulgaria.Web.Areas.Roads.Models.RoadsIndex.RoadsIndexViewModel

<div id="latest" class="carousel slide" data-ride="carousel-latest">
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        @for (int i = 1; i <= @Model.LatestRoads.Count - 1; i++)
        {
            <li data-target="#latest" data-slide-to="@i"></li>
        }
    </ul>


    <div class="carousel-inner">
        @{
         var roadActive = Model.LatestRoads.Take(1);
        }
        @foreach (var item in roadActive)
        {
            <div class="carousel-item active">
                <img src="@item.CoverPhoto" alt="" width="2000" height="300">
                <div class="carousel-caption">
                    <a class="link-none" asp-area="Roads" asp-controller="Home" asp-action="Road" asp-route-id="@item.Id">
                        <h3>@item.RoadName</h3>
                        <p>@item.PostedOn by @item.PostedBy</p>
                    </a>
                </div>
            </div>
        }

        @foreach (var item in Model.LatestRoads.Skip(1))
        {

            <div class="carousel-item">
                <img src="@item.CoverPhoto" width="2000" height="300" />
                <div class="carousel-caption">
                    <a class="link-none" asp-area="Roads" asp-controller="Home" asp-action="Road" asp-route-id="@item.Id">
                        <h3>@item.RoadName</h3>
                        <p>@item.PostedOn by @item.PostedBy</p>
                    </a>
                </div>
            </div>
        }


    </div>
    <a class="carousel-control-prev" href="#latest" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#latest" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>
