@inject SignInManager<User> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<nav class="navbar navbar-expand-md navbar-light bg-light text-black-50 pt-0 pb-0">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="@ManageNavPages.IndexNavClass(ViewContext) nav-item nav-link"><a asp-page="./Index" class="nav-link">Profile</a></li>
            <li class="@ManageNavPages.ChangePasswordNavClass(ViewContext) nav-item nav-link"><a id="change-password" asp-page="./ChangePassword" class="nav-link">Password</a></li>
            <li class="nav-item nav-link"><a asp-area="Identity" asp-controller="" asp-action="AddOrChangeProfilePicture" class="nav-link">Profile Picture</a></li>
            @if (hasExternalLogins)
            {
                <li class="@ManageNavPages.ExternalLoginsNavClass(ViewContext) nav-item nav-link"><a id="external-login" asp-page="./ExternalLogins" class="nav-link">External logins</a></li>
            }
            <li class="@ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext) nav-item nav-link"><a asp-page="./TwoFactorAuthentication" class="nav-link">Two-factor authentication</a></li>
            <li class="@ManageNavPages.PersonalDataNavClass(ViewContext) nav-item nav-link"><a asp-page="./PersonalData" class="nav-link">Personal data</a></li>
            <li class="nav-item nav-link"><a asp-area="Roads" asp-controller="Home" asp-action="MyRoads" class="nav-link">My Roads</a></li>
            <li class="nav-item nav-link"><a asp-area="Shop" asp-controller="Orders" asp-action="MyOrders" class="nav-link">My Orders</a></li>


            @if (User.IsInRole("Admin"))
            {
                <li class="nav-item nav-link"><a asp-area="Administration" asp-controller="AdministrationIndex" asp-action="Index" class="nav-link alert-dark">To Administration Page</a></li>
            }
        </ul>
    </div>

</nav>
